// Border

$border-width:                1px !default;
$border-color:                $gray-200 !default;

$border-radius:               .375rem !default;
$border-radius-xl:            .5rem !default;
$border-radius-lg:            .4375rem !default;
$border-radius-sm:            .25rem !default;

// $box-shadow-sm:               0 0 .5rem rgba($gray-600, .075) !default;
// $box-shadow:                  0 0 2rem 0 rgba($gray-600, .15) !default;
// $box-shadow-lg:               0 0 3rem rgba($gray-600, .175) !default;

