//
// Components
//

// Component - main styles for most of the components

$component-active-color:        $white !default;
// $component-active-bg:           theme-color("primary") !default;
// $component-active-border-color: theme-color("primary") !default;

$component-hover-color:        $gray-300 !default;
$component-hover-bg:           $gray-300 !default;
$component-hover-border-color: $gray-300 !default;

