// Dropdown

$dropdown-bg:                    $white !default;
$dropdown-border-width:          0 !default;
// $dropdown-border-color:          rgba($black, .15) !default;
$dropdown-border-radius:         $border-radius-lg !default;
// // // $dropdown-box-shadow:            0 50px 100px rgba(50, 50, 93, .1), 0 15px 35px rgba(50, 50, 93, .15), 0 5px 15px rgba(0, 0, 0, .1) !default;

$dropdown-link-color:            $gray-900 !default;
$dropdown-link-bg:               $white !default;

// $dropdown-link-hover-color:      darken($gray-900, 5%) !default;
$dropdown-link-hover-bg:         $gray-100 !default;

// $dropdown-link-active-color:     $dropdown-link-hover-color !default;
$dropdown-link-active-bg:        transparent !default;

$dropdown-item-padding-y:        .5rem !default;
$dropdown-item-padding-x:        1rem !default;

